---
layout: archive
title: "Cool Stuff!"
permalink: /cool-stuff/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<p>This page is dedicated for stuff I find fascinating! <br>
I will try to update this page as much as possible (but no guarantees xD).</p>

<ul>
  <li>I love writing and playing music. Lately, I have been exploring electronic stuff on Garageband (noob-move I know). It is so much fun though. 
    I literally spend hours just playing with it. You can check some of my work out on my <a href="https://www.youtube.com/@varunv5">YT Channel</a>.</li>
</ul>
